@import 'normalize.css';
@import 'variable.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xxl) 0;
    margin: 0 var(--global-margin);
}

.header__logo {
    width: var(--logo-width);
}

.header__title {
    font-size: var(--font-title);
    font-weight: var(--font-normal);
    color: var(--red);
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-xxl);
    padding: var(--spacing-xxxl) 0;
    margin: 0 var(--global-margin);
}

.main__grid__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main__grid__card__profile {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.main__grid__card__profile__portrait {
    width: var(--portrait-width);
    height: var(--portrait-width);
    object-fit: cover;
    border-radius: 100%;
    margin: 0 auto;
}

.main__grid__card__profile__name {
    font-size: var(--font-title);
    color: var(--lightred);
}

.main__grid__card__info__location {
    font-size: var(--font-sm);
    color: var(--lightred);
}

.main__grid__card__info__tagline {
    font-size: var(--font-xs);
}

.main__grid__card__info__price {
    font-size: var(--font-xs);
    color: var(--grey);
}

.photographer-main__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--global-radius);
    background-color: var(--lightgrey);
    padding: var(--spacing-xxxxl);
    margin: 0 var(--global-margin);
}

.photographer-main__profile__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.photographer-main__profile__portrait {
    width: var(--portrait-width);
    height: var(--portrait-width);
    object-fit: cover;
    border-radius: 100%;
}

.photographer-main__profile__card__name {
    font-size: var(--photographer-name);
    color: var(--lightred);
}

.photographer-main__profile__card__info__location {
    font-size: var(--font-subtitle);
    color: var(--red);
}

.photographer-main__portfolio {
    margin: var(--spacing-xl) var(--global-margin);
    gap: var(--spacing-md);
    display: flex;
    align-items: center;
}

.photographer-main__portfolio__filter-title {
    font-weight: var(--font-bold);
}

.photographer-main__portfolio__filter__dropdown {
    background-color: var(--red);
    color: var(--white);
    border-radius: var(--global-radius);
    margin-left: var(--spacing-xl);
    font-weight: var(--font-bold);
    position: relative;
    cursor: pointer;
    width: 120px;
}

.photographer-main__portfolio__filter__dropdown__current{
    padding: var(--spacing-md) var(--spacing-lg);
}

.photographer-main__portfolio__filter__dropdown__container{
    z-index: 1;
    position: absolute;
    left: 0;  
    top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: var(--global-radius);
    padding:0 0 var(--spacing-md) var(--spacing-lg);
    background-color: var(--red);
}

.photographer-main__portfolio__filter:focus {
    outline: none;
}

.photographer-main__portfolio__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gallery-card), 1fr));
    column-gap: var(--gallery-column-gap);
    row-gap: var(--gallery-row-gap);
    margin: var(--spacing-xxxxl) var(--global-margin);
}

.photographer-main__portfolio__gallery__card {
    display: flex;
    flex-direction: column;
    width: var(--gallery-card);
}

.photographer-main__portfolio__gallery__card__preview {
    width: 100%;
    height: var(--gallery-preview-height);
    object-fit: cover;
    border-radius: var(--global-radius);
}

.photographer-main__portfolio__gallery__card__info {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm) 0;
    font-size: var(--font-subtitle);
    color: var(--red);
}

.photographer-main__portfolio__gallery__card__info__title{
    flex: 3;
}

.photographer-main__portfolio__gallery__card__likes{
    flex: 1;
}

.photographer-main__pricetag {
    position: fixed;
    bottom: -10px;
    right: var(--spacing-xxl);
    background-color: var(--lightred);
    border-radius: var(--global-radius);
    display: flex;
    gap: var(--spacing-lg);
    padding: var(--spacing-md);
    font-weight: var(--font-bold);
}

.photographer-main__pricetag__container{
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.photographer-main__portfolio__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.contact__modal__popup {
    position: relative;
    background-color: var(--lightred);
    padding: var(--spacing-xxl);
    border-radius: var(--global-radius);
    width: var(--popup-width);
}

.contact__modal__popup__title {
    font-size: var(--popup-title);
}

.contact__modal__popup__subtitle {
    font-size: var(--popup-title);
}

.contact__modal__popup__form-Data {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
    margin-bottom: var(--spacing-sm);
}

.contact__modal__popup__form-Data__labels {
    font-size: var(--font-subtitle);
    color: var(--grey);
}

.contact__modal__popup__form-Data__inputs {
    padding: var(--spacing-sm);
    border-radius: var(--global-radius);
    border: none;
}

.textarea {
    resize: none;
}

.contact__modal__popup__form-Data__inputs:focus {
    outline: none;
}

.close {
    position: absolute;
    right: var(--spacing-xl);
    top: var(--spacing-xl);
    width: var(--font-title);
    height: var(--font-title);
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: var(--spacing-xxxl);
    width: var(--close-width);
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


.portfolio__lightbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: white;
    padding:40px 100px;
}

.portfolio__lightbox__arrow{
    font-size: 2rem;
    color: var(--red);
    cursor: pointer;
}

.portfolio__lightbox__card{
    height: var(--lightbox-image-height);
    width: var(--lightbox-image-width);
}

.portfolio__lightbox__card__image{
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.portfolio__lightbox__card__title{
    font-size: var(--font-subtitle);
    color: var(--red);
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.pointer{
    cursor: pointer;
}