@import 'normalize.css';
@import 'variable.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xxl) 0;
    margin: 0 var(--global-margin);
}

.header__logo {
    width: var(--logo-width);
}

.header__title {
    font-size: var(--font-title);
    font-weight: var(--font-normal);
    color: var(--red);
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-xxl);
    padding: var(--spacing-xxxl) 0;
    margin: 0 var(--global-margin);
}

.main__grid__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main__grid__card__profile {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.main__grid__card__profile__portrait {
    width: var(--portrait-width);
    height: var(--portrait-width);
    object-fit: cover;
    border-radius: 100%;
    margin: 0 auto;
}

.main__grid__card__profile__name {
    font-size: var(--font-title);
    color: var(--lightred);
}

.main__grid__card__info__location {
    font-size: var(--font-sm);
    color: var(--lightred);
}

.main__grid__card__info__tagline {
    font-size: var(--font-xs);
}

.main__grid__card__info__price {
    font-size: var(--font-xs);
    color: var(--grey);
}

.photographer-main__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--global-radius);
    background-color: var(--lightgrey);
    padding: var(--spacing-xxxxl);
    margin: 0 var(--global-margin);
}

.photographer-main__profile__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.photographer-main__profile__portrait {
    width: var(--portrait-width);
    height: var(--portrait-width);
    object-fit: cover;
    border-radius: 100%;
}

.photographer-main__profile__card__name {
    font-size: var(--photographer-name);
    color: var(--lightred);
}

.photographer-main__profile__card__info__location {
    font-size: var(--font-subtitle);
    color: var(--red);
}

.photographer-main__portfolio{
    margin: var(--spacing-lg) var(--global-margin);
}

.photographer-main__portfolio__label{
    font-weight: var(--font-bold);
}

.photographer-main__portfolio__orderBy{
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--global-radius);
    margin-left: var(--spacing-xl);
    font-weight: var(--font-bold);
}

.photographer-main__portfolio__orderBy:focus{
    outline: none;
}

.photographer-main__portfolio__gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gallery-card), 1fr));
    column-gap: var(--gallery-column-gap);
    row-gap: var(--gallery-row-gap);
    margin: var(--spacing-xxxxl) 0;
}

.photographer-main__portfolio__gallery__card{
    display: flex;
    flex-direction: column;
    width: var(--gallery-card);
}

.photographer-main__portfolio__gallery__card__preview{
    width: 100%;
    height: var(--gallery-preview-height);
    object-fit: cover;
    border-radius: var(--global-radius);
}

.photographer-main__portfolio__gallery__card__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) 0;
}
    
.photographer-main__portfolio__gallery__card__info{
    font-size: var(--font-subtitle);
    color: var(--red);
}
.photographer-main__pricetag{
    position: fixed;
    bottom: -10px;
    right: var(--spacing-xxl);
    background-color: var(--lightred);
    border-radius: var(--global-radius);
    display: flex;
    gap: var(--spacing-lg);
    padding: var(--spacing-md);
    font-weight: var(--font-bold);
}