@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --red: #901C1C;
    --lightred: #DB8876;
    --grey: #525252;
    --lightgrey: #FAFAFA;

    --white: #FFFFFF;
    --black: #000000;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 1.5rem;
    --spacing-xxl: 2rem;
    --spacing-xxxl: 2.5rem;
    --spacing-xxxxl: 3rem;

    --font-title: 36px;
    --font-subtitle: 24px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-xs: 12px;

    --button-font: 1.25rem;
    --photographer-name: 4rem;

    --font-bold: 700;
    --font-normal: 400;
    --font-light: 300;

    --body-width: 1440px;

    --global-margin: 6.25rem;
    --global-radius: 5px;
    --logo-width: 12.5rem;

    --portrait-width: 200px;
    --gallery-card: 350px;
    --gallery-preview-height: 300px;

    --gallery-column-gap: 90px;
    --gallery-row-gap: 20px;

    --popup-width: 670px;
    --popup-title: 48px;
    --close-width: 4px;
}

body {
    font-family: 'DM sans','Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: var(--body-width);
    margin: 0 auto;
}

.button {
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: var(--spacing-md) var(--spacing-xl);
    font-size: var(--button-font);
    font-weight: var(--font-bold);
    cursor: pointer;
    border-radius: var(--global-radius);
    transition-duration: 0.3s;
    width: fit-content;
}

.button:hover {
    background-color: var(--lightred);
    color: var(--black);

}

.submit-button:hover{
    background-color: var(--grey);
    color: var(--white);
}